html,
body,
[data-testid="primaryColumn"],
.r-kemksi:has([aria-live="polite"]),
[aria-label="Home timeline"] .r-5zmot,
[aria-label="Grok"] .r-5zmot,
article,
div.r-1hycxz:nth-child(1),
div.r-1ifxtd0:nth-child(1),
div.r-kemksi:nth-child(4),
div.r-kemksi:nth-child(5),
[data-testid="cellInnerDiv"] > div,
[aria-label="Home timeline"] > div > div > div > div > div > div,
[aria-label="Section navigation"] [role="tablist"] > div,
[aria-label="Section navigation"] > div,
[aria-label="Section navigation"] > div > div > div > div,
[aria-label="Section details"] [role="tablist"] > div,
[aria-label="Section details"] > div,
[aria-label="Section details"] > div > div > div > div,
[data-testid="inline_reply_offscreen"] > div,
.css-175oi2r.r-kemksi.r-jumn1c.r-xd6kpl.r-gtdqiz.r-ipm5af.r-184en5c {
  background-color: transparent !important;
  background: #000 !important;
  box-shadow: none !important;
}

[data-testid="Dropdown"],
.css-175oi2r[role="dialog"],
div.r-ifefl9:nth-child(2) {
  background-color: #fff !important;

  @media (prefers-color-scheme: dark) {
    background-color: #000 !important;
  }
}
