.ytLrWatchDefaultControlsBackground,
ytlr-watch-metadata,
.ytVirtualListItem:not(.ytVirtualListItemSelected) ytlr-comment-renderer,
.ytLrChannelHeaderRendererMetadata,
ytlr-surface-page::before {
  background-color: #fff7 !important;
  backdrop-filter: blur(1rem) !important;

  @media (prefers-color-scheme: dark) {
    background-color: #0007 !important;
  }
}

.ytLrWatchDefaultControlsBackground {
  width: 80rem !important;
  transform: translateX(-50%) !important;
  left: 50% !important;
  border-radius: 1em 1em 0 0 !important;
}

.ytLrAnimatedOverlayContainer,
ytlr-compact-link-renderer {
  background-color: transparent !important;
  font-size: 0.7em !important;
}

.ytp-left-controls {
  .ytp-play-button,
  .ytp-volume-area,
  .ytp-time-display.notranslate > span,
  .ytp-chapter-container > button,
  .ytp-prev-button,
  .ytp-next-button {
    backdrop-filter: blur(5px) !important;
    background-color: #0001 !important;
  }
}

.ytp-right-controls,
.ytp-time-wrapper {
  backdrop-filter: blur(5px) !important;
  background-color: #0001 !important;
}

.ytp-popup {
  backdrop-filter: blur(10px) !important;
  background-color: #0007 !important;
}

.ytp-progress-bar-container,
.ytp-progress-bar {
  cursor: pointer !important;
}
