[aria-label="Thread list"][role="navigation"] {
  position: absolute !important;
  left: 0;
  top: 1.25rem !important;
  bottom: 1.25rem !important;
  z-index: 999;

  width: 4rem !important;
  min-width: 1rem !important;
  overflow: hidden !important;

  opacity: 0;
  background-color: #191919 !important;

  transition: width 0.3s ease, opacity 0.2s !important;
}

[aria-label="Thread list"][role="navigation"]:hover {
  width: 22.5rem !important;
  min-width: 22.5rem !important;
  opacity: 1 !important;
}

[aria-label="Thread list"][role="navigation"] > div {
  width: 22.5rem !important;
  background-color: #191919 !important;
}
