:root {
  --web-wash: #00000000 !important;
  --messenger-card-background: #00000000 !important;
  --mwp-header-background-color: #00000000 !important;
  --mwp-message-row-background: #00000000 !important;
}

.xcrg951 {
  background-color: #00000000 !important;
  box-shadow: none !important;
}

[aria-label="Thread composer"] {
  background-color: var(--mwp-message-row-background) !important;
}

[aria-label="Inbox switcher"][role="navigation"] {
  display: none !important;
}
