/* x-transparency */
html,
body,
[data-testid="primaryColumn"],
.r-kemksi:has([aria-live="polite"]),
[aria-label="Home timeline"] .r-5zmot,
[aria-label="Grok"] .r-5zmot,
article,
div.r-1hycxz:nth-child(1),
div.r-1ifxtd0:nth-child(1),
div.r-kemksi:nth-child(4),
div.r-kemksi:nth-child(5),
[data-testid="cellInnerDiv"] > div,
[aria-label="Home timeline"] > div > div > div > div > div > div,
[aria-label="Section navigation"] [role="tablist"] > div,
[aria-label="Section navigation"] > div,
[aria-label="Section navigation"] > div > div > div > div,
[aria-label="Section details"] [role="tablist"] > div,
[aria-label="Section details"] > div,
[aria-label="Section details"] > div > div > div > div,
[data-testid="inline_reply_offscreen"] > div,
.css-175oi2r.r-kemksi.r-jumn1c.r-xd6kpl.r-gtdqiz.r-ipm5af.r-184en5c {
  background-color: transparent !important;
  background: #000 !important;
  /* border: none !important; */
  box-shadow: none !important;
}

[data-testid="Dropdown"],
.css-175oi2r[role="dialog"],
div.r-ifefl9:nth-child(2) {
  background-color: #fff !important;

  @media (prefers-color-scheme: dark) {
    background-color: #000 !important;
  }
}

/* x-layout fixes */
.r-1gn8etr {
  position: sticky !important;
  top: -50px !important;
}

/* x-hover */
div.css-175oi2r.r-vacyoi.r-ttdzmv,
div.css-175oi2r.r-1pi2tsx.r-1wtj0ep.r-1rnoaur.r-o96wvk.r-is05cd {
  opacity: 0 !important;
  transition: all 0.3s ease-in-out !important;
  &:hover {
    opacity: 1 !important;
  }
}

/* x-no thanks */
[aria-label="Subscribe to Premium"],
[aria-label="Footer"],
[data-testid="super-upsell-UpsellCardRenderProperties"] {
  display: none !important;
}

/* Grok and message in right button corner */
div.css-175oi2r.r-105ug2t.r-1867qdf.r-qo02w8.r-13awgt0.r-1ce3o0f.r-1udh08x.r-u8s1d.r-13qz1uu.r-173mn98.r-1e5uvyk.r-5zmot.r-j7xza8.r-rs99b7.r-12jitg0,
/* [data-testid="GrokDrawerHeader"], */
[data-testid="chat-drawer-main"] {
  display: none !important;
}

/* navbar */
div.r-5zmot nav div.r-1adg3ll > div {
  display: none !important;
}
